<h1>une PWA ! Qu'est-ce que c'est ?</h1>
Une progressive web app est une facon d'utiliser une site web sous forme d'application mobile

<h1>Pourquoi utiliser une PWA ?</h1>
<div>
  La première raison est que de nos jours nous utilisons plus nos smartphone pour naviguer sur internet, une pwa va rendre plus simple l'acces a notre site préféré

</div>

<div>utiliser une pwa va permttre de rendre la navigation plus agréable puisque il est possible d'avoir le site sur
  l'écran d'accueil comme une vrai application mobile
</div>
<div>D'un point de vue developeur ou PO la pwa est interessante car elle permet de mutualiser les developement pour plusieurs platformes et aisin réduire les couts de dévelopment</div>
<h1>Comment l'installer ?</h1>
<div>C'est très simple, Sur pc il faut utiliser chrome et une fois sur la page vous aller avoir une popup en haut a
  droite comme ci dessous
  <img alt="" src="assets/pc.png"></div>
<div>Sur mobile une popup va apparaitre au bout de quelque seconde, si jamais elle apparait pas elle peut etre installé
  de facon manuel a partir des options de chrome
  <img alt="" src="assets/mobile.png" style="width: 200px">
</div>
<h1> Les condition d'utilisations</h1>
<div>
  <div> Il faut utiliser les navigateurs par defaut pour avoir toutes les fonctionalités
  </div>
  <ul>
    <li> Chrome pour windows et android</li>
    <li> safari pour Ios</li>
  </ul>
  <div>  Sous android il n'y globalement pas de problème pour utiliser toutes les fonctionalité du device, néanmoins certaine surcouche comme oxygenOs (OnePlus) peut en bloquer certaines (Vibration dans certains cas)
  </div>
  <div>Sous Ios peu de fonctionalitées sont disponible dû aux restriction de sécurité</div>
</div>

